# crontab for pushing postgres metrics to statsd
*/{{ metrics_sample_interval }} * * * * postgres python {{ script }} | python -c "import socket, sys; sock = socket.socket(socket.AF_INET, socket.SOCK_DGRAM); map(lambda line: sock.sendto(line, ('{{ statsd_host }}', {{ statsd_port }})), map(lambda line: '{{ metrics_prefix }}' + '.' + line, sys.stdin))"

