#!/bin/bash

set -e

export LANG=C
export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

usage () {
    echo "usage: $0 <retain_files>"
}

typeset -i FILES=$1
shift
if [ $FILES -le 0 ]; then
    usage
    exit 1
fi

set -u

backup_success () {
    echo "Last successful backup $(date)" > {{logs_dir}}/backups.log
    # Now because the umask is set to 0077, we need to grant read access to the log
    chmod a+r "{{logs_dir}}/backups.log"
}

# Set umask so backups are automatically created without group and other
umask 0077

echo backups started $(date)

export PGPORT=5432 
export PGUSER=postgres

DUMP_DIR={{backups_dir}}
SCRIPTS={{scripts_dir}}
TODAY=$(date +'%Y%m%d_%H%M%S')

# Dump globals, which we often need to restore a database dump.
pg_dumpall --globals-only --quote-all-identifiers \
    --file=${DUMP_DIR}/globals.${TODAY}.sql

DATABASES=$(psql -tAc "select datname from pg_database where datname not in ('template0','template1','postgres')")
if [ -z "${DATABASES}" ]; then
    # nothing to back up
    backup_success
    exit 0
fi

# Check the size of the last backup, and that we have enough space
# to do a backup
TOTAL_SIZE=0
for DATABASE in ${DATABASES}; do
    DUMP_SIZE=$(ls -lrt ${DUMP_DIR}/${DATABASE}* | tail -1 | awk '{ print $5 }')
    if [[ -n $DUMP_SIZE ]]; then
        let TOTAL_SIZE=${TOTAL_SIZE}+${DUMP_SIZE}
    fi
done

FREE_SPACE=$(df -k ${DUMP_DIR} | sed -e 1d | awk '{ print $4 }')
echo "Free Space: $FREE_SPACE"

if [[ $TOTAL_SIZE -gt 0 ]]; then

    let TOTAL_SIZE=${TOTAL_SIZE}*13/10
    let TOTAL_SIZE=${TOTAL_SIZE}/1024

    echo "Last Backups (x1.3): $TOTAL_SIZE"

    if [ $FREE_SPACE -lt $TOTAL_SIZE ]; then
        echo "Not enough free space"
        exit 1
    fi
else
    echo "No previous backup to check space requirements against. Continuing"
fi

# Backup our databases. Go no further if this fails.
# And let's nice it too, since bzip has a tendency 
# to spike the load average
nice -n 19 ${SCRIPTS}/dump-pg-db --dir=${DUMP_DIR} --compression=postgres ${DATABASES}

# Prune old backups:
# - Delete anything beyond $FILES count of each backup

# get name/size of the globals dump from $FILES runs ago
THRESHOLD_GLOBALS_DUMP=$(find ${DUMP_DIR} -not \( -path ${DUMP_DIR}/lost+found -prune \) -type f -name 'globals.*.sql' | sort | tail -${FILES}| head -1)
TIME_NOW=$(date +%s)
TIME_DUMP=$(date +%s -r $THRESHOLD_GLOBALS_DUMP)
THRESHOLD_AGE=$(($TIME_NOW - $TIME_DUMP))
THRESHOLD_MINS=$(($THRESHOLD_AGE / 60))
THRESHOLD_MINS=$(($THRESHOLD_MINS + 1)) # always round up
find ${DUMP_DIR} -not \( -path ${DUMP_DIR}/lost+found -prune \) -type f -mmin +${THRESHOLD_MINS} -print0 | xargs -0 rm -f

echo backups completed $(date)

backup_success
