#------------------------------------------------------------------------------
# This file is managed by Juju
#------------------------------------------------------------------------------

# Database administrative login by UNIX sockets
local   all        postgres                          ident map=superusers

#if $varExists('hba_data')
#for $unit in $hba_data
host    $hba_data[$unit].database        $hba_data[$unit].user        ${hba_data[$unit]['private-address']}/32         md5
#end for
#end if
