#------------------------------------------------------------------------------
# This file is managed by Juju
#------------------------------------------------------------------------------

# Database administrative login by UNIX sockets
local   all         postgres                          ident

#for $database, $user, $remote_ip in $access_list():
host ${database} ${user} ${remote_ip}/32 md5
#endfor
