#------------------------------------------------------------------------------
# This file is managed by Juju
#------------------------------------------------------------------------------

# Database administrative login by UNIX sockets
local   all         root,postgres                     ident map=superusers
local   replication root,postgres                     ident map=superusers
local   all         nagios                            md5

{% if extra_pg_auth is defined and extra_pg_auth|count > 0 -%}
# extra_pg_auth
{% for pg_auth in extra_pg_auth -%}
{{pg_auth}}
{% endfor -%}
{% endif -%}

{% if access_list is defined -%}
{% for unit in access_list -%}
# {{unit['relation-id']}} from {{unit['unit']}}
host {{unit['database']}} {{unit['user']}} {{unit['private-address']}} md5

{% if 'schema_user' in unit -%} 
host {{unit['database']}} {{unit['schema_user']}} {{unit['private-address']}} md5
{% endif -%}
{% endfor -%}
{% endif -%}
