#------------------------------------------------------------------------------
# This file is managed by Juju
#------------------------------------------------------------------------------
standby_mode = on
primary_conninfo = 'host={{host}} user=juju_replication password={{password}} requirepeer=postgres'
