#------------------------------------------------------------------------------
# This file is managed by Juju
#------------------------------------------------------------------------------
cluster=juju
node={{node_id}}
node_name={{node_name}}
conninfo='host={{host}} user={{user}} dbname=repmgr'
