# Generated and maintained by juju
OS_USERNAME: {{config.os_username}}
OS_TENANT_NAME: {{config.os_tenant_name}}
OS_PASSWORD: {{config.os_password}}
OS_AUTH_URL: {{config.os_auth_url}}
CONTAINER: {{vars.container}}
